<h3 class="user-profile-box-title">
    Zmień hasło do konta
</h3>
<form role="form" name="changePasswordForm" class="form form-auth" data-ng-submit="changePassword(data)" novalidate>
    <div class="form-group" data-ng-class="{ 'has-error' : changePasswordForm.password.$invalid && !changePasswordForm.password.$pristine }">
        <input type="password" name="passsword" id="password" class="form-control input-md" data-ng-model="data.password" placeholder="Aktualne hasło" required>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine }">
        <input type="password" name="newPassword" id="newPassword" class="form-control input-md" data-ng-model="data.newPassword" placeholder="Nowe hasło" data-ng-minlength="6" required>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : changePasswordForm.checkNewPassword.$invalid && !changePasswordForm.checkNewPassword.$pristine }">
        <input type="password" name="checkNewPassword" id="checkNewPassword" class="form-control input-md" data-ng-compare="data.newPassword" data-ng-model="data.checkNewPassword" placeholder="Powtórz nowe hasło" data-ng-minlength="6" required>
    </div>
    <button type="submit" class="btn btn-md btn-success" data-ng-disabled="changePasswordForm.$invalid">
        Zmień swoje hasło
    </button>
</form>
<hr>
<p class="font-size-12 font-color-grey">
    Wprowadź aktualne hasło i dwa razy nowe hasło. Uwaga! Po zmianie hasła zostaniesz wylogowany z serwisu.
</p>
