<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <a role="button" class="navbar-brand" data-ui-sref="home">
                        <img src="/assets/img/brand/icon.svg" alt="Spotted">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-nav-user navbar-right" data-ng-if="$root.user">
                    <li>
                        <a href="#">
                            <i class="fa fa-globe"></i>
                        </a>
                    </li>
                    <li uib-dropdown>
                        <a href="#" uib-dropdown-toggle>
                            <i class="fa fa-user"></i>
                        </a>
                        <ul role="menu" uib-dropdown-menu>
                            <li role="menuitem"><a role="button" data-ui-sref="user.posts">Twoje ogłoszenia</a></li>
                            <li role="menuitem"><a role="button" data-ui-sref="user.settings">Ustawienia</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a role="button" data-ng-click="signOut()">Wyloguj się</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-nav-user navbar-right" data-ng-if="!$root.user">
                    <li uib-dropdown>
                        <a role="button" uib-dropdown-toggle>
                            <i class="fa fa-user"></i>
                        </a>
                        <ul role="menu" uib-dropdown-menu>
                            <li role="menuitem"><a role="button" data-ui-sref="auth.signin">Zaloguj się</a></li>
                            <li role="menuitem"><a role="button" data-ui-sref="auth.signup">Załóż konto</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
