<section class="user-profile">
    <div class="user-profile-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="user-profile-picture">
                        <img src="{{ currentUser.picture }}" alt="">
                    </div>
                    <div class="user-profile-title">
                        <h2>{{ currentUser.email }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="user-profile-navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="nav-user-profile">
                        <li data-ui-sref-active="active">
                            <a role="button" data-ui-sref="user.posts">
                                Twoje ogłoszenia
                            </a>
                        </li>
                        <li data-ui-sref-active="active">
                            <a role="button" data-ui-sref="user.settings">
                                Ustawienia konta
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <section class="user-profile-content" data-ui-view></section>
            </div>
        </div>
    </div>
</section>
