<!DOCTYPE html>
<html lang="pl">
<head>
    <base href="/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} - {{description}}</title>
    <meta name="description" content="{{description}}">

    {% include "./_includes/favicons.server.view.html" %}

    <link rel="stylesheet" type="text/css" href="{{styles.vendor}}">
    <link rel="stylesheet" type="text/css" href="{{styles.app}}">

</head>
<body class="site">

    <header class="site-header" data-ng-include="'app/modules/core/client/views/_partials/header.client.view.html'"></header>

    <section class="site-content">
        {% block content %}{% endblock %}
    </section>

    <footer class="site-footer" data-ng-include="'app/modules/core/client/views/_partials/footer.client.view.html'"></footer>

    <script type="text/javascript" src="{{scripts.vendor}}"></script>
    <script type="text/javascript" src="{{scripts.app}}"></script>
</body>
</html>
