<form role="form" class="form-auth" data-ng-controller="registerController">
    <h2 class="font-weight-300 margin-top-0 margin-bottom-30 text-center">
        Dołącz do nas i bądź na bieżąco :)
    </h2>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4 col-xs-12">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-info btn-md">
                    <input type="radio" data-ng-model="user.sex" data-ng-value="1"> <strong>Kobieta</strong>
                </label>
                <label class="btn btn-info btn-md">
                    <input type="radio" data-ng-model="user.sex" data-ng-value="0"> <strong>Mężczyzna</strong>
                </label>
            </div>
            <hr>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <label for="email">Adres e-mail:</label>
            </div>
            <div class="col-sm-8 col-xs-12">
                <input type="email" data-ng-model="user.email" class="form-control input-md" id="email" placeholder="Adres e-mail">
                <hr class="margin-top-20 margin-bottom-0">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <label for="password">Hasło:</label>
            </div>
            <div class="col-sm-8 col-xs-12">
                <input type="password" data-ng-model="user.password" class="form-control input-md" id="password" placeholder="Hasło">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <label for="checkPassword">Powtórz hasło:</label>
            </div>
            <div class="col-sm-8 col-xs-12">
                <input type="password" class="form-control input-md" id="checkPassword" placeholder="Powtórz hasło">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4 col-xs-12">
            <hr class="margin-top-0 margin-bottom-20">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4 col-xs-12">
            <button type="submit" data-ng-click="register()" class="btn btn-md btn-success">
                Zarejestruj się na Spotted!
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4 col-xs-12">
            <p class="margin-top-20">
                <small>
                    Klikając przycisk Rejestracja, akceptujesz nasz <a href="#">Regulamin</a> oraz potwierdzasz zapoznanie się z
                    <a href="#">Zasadami dotyczącymi danych</a>, w tym z <a href="#">Zasadami stosowania plików cookie</a>.
                </small>
            </p>
        </div>
    </div>
</form>
