<form role="form" class="form-auth" data-ng-submit="signup()" data-ng-controller="signupController" novalidate>
    <h2 class="font-weight-300 margin-top-0 margin-bottom-40">
        Dołącz do spotted :)
    </h2>
    <div class="alert alert-danger" role="alert" data-ng-if="error">
        {{error}}
    </div>
    <div class="form-group">
        <input type="email" data-ng-model="user.email" class="form-control input-md" id="email" placeholder="Adres e-mail" autocomplete="off" required>
    </div>
    <div class="form-group">
        <input type="password" data-ng-model="user.password" class="form-control input-md" id="password" placeholder="Hasło" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-md" id="checkPassword" placeholder="Powtórz hasło" required>
    </div>
    <div class="form-group">
        <div class="radio padding-top-10 margin-left-5">
            <input type="radio" name="sex" id="male" value="0" data-ng-model="user.sex">
            <label for="male">Mężczyzna</label>
            <input type="radio" name="sex" id="female" value="1" data-ng-model="user.sex">
            <label for="female">Kobieta</label>
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-success text-uppercase margin-top-10">
        Zarejestruj się na Spotted!
    </button>
    <p class="margin-top-30">
        <small>
            Masz już swoje konto? <a href="/signin"><strong>Przejdź do logowania</strong></a>.
        </small>
    </p>
    <hr/>
    <p class="margin-top-20 text-justify">
        <small>
            Klikając przycisk Rejestracja, akceptujesz nasz <a href="#">Regulamin</a> oraz potwierdzasz zapoznanie się z
            <a href="#">Zasadami dotyczącymi danych</a>, w tym z <a href="#">Zasadami stosowania plików cookie</a>.
        </small>
    </p>
</form>
