<div class="posts-create-form">
    <form role="form" name="postCreateForm" data-ng-submit="createPost()" novalidate>
        <div class="form-group">
                    <textarea name="description" id="description" class="form-control pc-description" rows="1" placeholder="Coś się wydarzyło lub się wydarzy? Napisz o tym!"
                              data-ng-model="post.description" required></textarea>
        </div>
        <div class="form-footer">
            <ul class="list-extras">
                <li>
                    <button class="btn" data-ngf-select data-ng-model="post.image" data-name="image" data-ngf-pattern="'image/*'"
                            data-ngf-accept="'image/*'">
                        <i class="fa fa-photo"></i>
                    </button>
                </li>
                <li data-ng-init="getGroups()">
                    <select class="dropdown" selectpicker="" data-ng-model="post.group" data-toggle-dropdown data-live-search="true" required>
                        <option class="default" value=""></option>
                        <option data-ng-repeat="group in groups" value="{{ group._id }}">{{ group.name }}</option>
                    </select>
                </li>
            </ul>
            <button type="submit" class="btn btn-success btn-submit" data-ng-disabled="postCreateForm.$invalid">
                Wyślij <i class="fa fa-send-o"></i>
            </button>
        </div>
    </form>
</div>
