<form role="form" data-ng-submit="signin()" data-ng-controller="signinController" novalidate>
    <h2 class="font-weight-300 margin-top-0 margin-bottom-40">
        Zaloguj się do konta!
    </h2>
    <div class="alert alert-danger" role="alert" data-ng-if="error">
        {{error}}
    </div>
    <div class="form-group">
        <input type="email" id="email" class="form-control input-md" data-ng-model="user.email" placeholder="Adres e-mail" autocomplete="off" required>
    </div>
    <div class="form-group">
        <input type="password" data-ng-model="user.password" class="form-control input-md" id="password" placeholder="Hasło" required>
    </div>
    <button type="submit" class="btn btn-sm btn-success text-uppercase margin-top-10">
        Zaloguj się do konta
    </button>
    <p class="margin-top-30">
        <small>
            Nie masz jeszcze konta? <a href="/signup"><strong>Przejdź do rejestracji</strong></a>.
        </small>
    </p>
    <hr/>
    <p class="margin-top-20 text-justify">
        <small>
            Korzystając z serwisu akceptujesz nasz <a href="#">Regulamin</a> oraz potwierdzasz zapoznanie się z
            <a href="#">Zasadami dotyczącymi danych</a>, w tym z <a href="#">Zasadami stosowania plików cookie</a>.
        </small>
    </p>
</form>
