<div class="modal-auth">
    <div class="modal-body">
        <a role="button" data-ng-click="closeModal()" class="font-weight-600 font-size-12">
            <i class="fa fa-angle-left margin-right-5"></i>zamknij okno
        </a>
        <h3 class="font-size-32 font-weight-300 margin-top-10">
            Zaloguj się do konta :)
        </h3>
        <h5 class="font-color-grey">
            Nie masz jeszcze konta?
            <a role="button" data-ng-click="switchModal('signup')">
                Dołącz do nas!
            </a>
        </h5>
        <form role="form" name="signinForm" class="form-auth margin-top-30 margin-bottom-30" data-ng-controller="signinController" data-ng-submit="signin()" novalidate>
            <div class="alert" data-ng-if="message" ng-class="{ 'alert-danger' : message.error, 'alert-success' : message.success }">
                <span data-ng-if="message.error">
                    {{ message.error }}
                </span>
                <span data-ng-if="message.success">
                    {{ message.success }}
                </span>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group" data-ng-class="{ 'has-error' : signinForm.email.$invalid && !signinForm.email.$pristine }">
                        <input type="email" id="email" name="email" data-ng-model="user.email" class="form-control input-md" placeholder="Adres e-mail" required>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error' : signinForm.password.$invalid && !signinForm.password.$pristine }">
                        <input type="password" id="password" name="password" data-ng-model="user.password" data-ng-minlength="6" class="form-control input-md" placeholder="Hasło" required>
                    </div>
                    <button type="submit" class="btn btn-md btn-success" data-ng-disabled="signinForm.$invalid">
                        Zaloguj się do konta!
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <p class="margin-bottom-0">
            <small>
                Korzystając z serwisu, akceptujesz nasz <a href="#">Regulamin</a> oraz potwierdzasz zapoznanie się z
                <a href="#">Zasadami dotyczącymi danych</a>, w tym z <a href="#">Zasadami stosowania plików cookie</a>.
            </small>
        </p>
    </div>
</div>
