.btn {
  border: 0 none;
  border-radius: 2px;
  line-height: 1;
  transition: all 0.2s ease;

  &.btn-xs {
    padding: 6px 12px;
    font-size: 12px;
  }
  &.btn-sm {
    padding: 8px 13px;
    font-size: 13px;
  }
  &.btn-md {
    padding: 10px 15px;
    font-size: 14px;
  }
  &.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
  }

  &.btn-success {
    background-color: $green;
    color: $white;
    &:hover {
      background-color: $green-light;
    }
  }
  &.btn-danger {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $red-light;
    }
  }
  &.btn-info {
    background-color: $blue;
    color: $white;
    &:hover {
      background-color: $blue-light;
    }
  }

}
