.btn {
  border-radius: 3px;
  transition: all 0.2s ease;
  line-height: 1;
  &:focus {
    outline: none!important;
  }

  &.btn-md {
    padding: 9px 16px;
    font-size: 16px;
  }
  &.btn-lg {
    padding: 14px 18px;
    font-size: 20px;
  }

  &.btn-default {
    border-color: $light;
    background-color: $light;
    &:hover {
      border-color: $dark;
      background-color: $dark;
      color: $white;
    }
  }

  &.btn-success {
    border-color: $green;
    background-color: $green;
    &:hover {
      border-color: $green-light;
      background-color: $green-light;
    }
  }

  &.btn-apps {
    position: relative;
    padding: 4px 20px 9px 50px;
    text-align: left;
    small {
      font-size: 10px;
      strong {
        font-weight: 600;
      }
    }
    &::before {
      position: absolute;
      left: 15px; top: 10px;
      font: normal normal normal 26px/1 FontAwesome;
    }
    &.btn-apple::before {
      content: '\f179';
    }
    &.btn-google::before {
      content: '\f1a0';
    }
    &.btn-windows::before {
      content: '\f17a';
    }
  }

}
