.bootstrap-select {
  &.btn-group {
    &.open {
      .dropdown-toggle {
        box-shadow: none;
      }
    }
    .dropdown-menu {
      min-width: 250px;
      padding-top: 0;
      .bootstrap-select-searchbox {
        position: relative;
        padding: 10px 15px;
        background-color: $light;
        border-bottom: 1px solid darken($light, 10%);
        &::before {
          position: absolute;
          left: 25px; top: 19px;
          font: normal normal normal 14px/1 FontAwesome;
          content: '\f002';
        }
        .form-control {
          padding-left: 30px;
          border-radius: 2px;
          border: 1px solid darken($light, 10%);
          box-shadow: none;
        }
      }
      ul.inner {
        float: none;
        li {
          &.selected {
            a {
              position: relative;
              background-color: $light;
              color: $dark;
              &::before {
                position: absolute;
                left: 15px; top: 9px;
                font: normal normal normal 14px/1 FontAwesome;
                content: '\f00c';
                color: $green;
              }
            }
          }
          &.no-results {
            margin: 0;
            padding: 7px 20px 7px 45px;
            font-size: 13px;
            font-weight: 600;
            color: $grey;
          }
          a {
            &.default {
              display: none;
              &::before {
                display: none!important;
              }
            }
            padding-left: 45px;
            padding-top: 7px;
            padding-bottom: 7px;
            transition: none;
          }
        }
      }
    }
  }
}
