.form {
  &.form-auth {
    .form-group {
      .form-control {
        background-color: $light;
        border: 0 none;
        border-radius: 2px;
        box-shadow: none;
        &.form-control-white {
          background-color: $white;
        }
        &:focus {
          background-color: lighten($blue, 30%);
        }

        .input-sm {
          height: 34px;
          padding: 6px 12px;
        }
        &.input-md {
          height: 38px;
          padding: 8px 12px;
        }
        &.input-lg {
          height: 42px;
          padding: 10px 12px;
          font-size: 14px;
        }

      }

      &.has-error {
        .form-control {
          background-color: lighten($red, 40%);
        }
      }

    }
  }
}
