// =============================================================================
// POSTS SECTION
// =============================================================================
.posts {
  padding-top: 30px;
  padding-bottom: 200px;

  // =============================================================================
  // POSTS CREATE SECTION
  // =============================================================================
  .posts-create {
    .posts-create-form {
      padding: 15px;
      background-color: darken($light, 3%);
      border: 1px solid darken($light, 5%);
      .post-image-preview {
        img {
          width: 100%;
          height: 75px;
          object-fit: cover;
          object-position: center;
        }
      }
      .form-group {
        margin-bottom: 5px;
        .pc-description {
          height: 36px;
          background-color: $light;
          border-radius: 2px;
          border-color: darken($light, 10%);
          box-shadow: none;
          resize: none;
          &:focus, &.ng-not-empty {
            height: 100px;
            background-color: $white;
          }
        }
      }
      .form-footer {
        height: 34px;
        .btn-submit {
          padding: 9px 15px 8.5px;
          float: right;
          border-radius: 2px;
          font-weight: 600;
          font-size: 14px;
          line-height: 1;
        }
        .list-extras {
          margin: 0; padding: 0;
          list-style: none;
          font-size: 0;
          > li {
            float: left;
            margin-right: 5px;
            .btn-group {
              &.open {
                .dropdown-toggle {
                  background-color: $white!important;
                }
              }
            }
            .bootstrap-select {
              width: auto;
              margin: 0;
            }
            button {
              display: table-cell;
              width: 40px; height: 34px;
              vertical-align: middle;
              text-align: center;
              border-radius: 2px;
              border-color: darken($light, 10%);
              background-color: darken($light, 5%);
              font-size: 14px;
              &:focus {
                outline: none!important;
              }
              &.ng-not-empty {
                background-color: $white;
                color: $green;
              }
              &:hover {
                background-color: $white;
              }
              &.selectpicker {
                font-size: 0;
                &:hover::before {
                  color: $dark;
                }
                &::before {
                  margin-left: 2px;
                  font: normal normal normal 14px/1 FontAwesome;
                  content: "\f041";
                }
                .caret {
                  display: none;
                }
              }
            }
            select {
              &.ng-not-empty {
                + .btn-group {
                  button.selectpicker {
                    background-color: $white;
                    color: $green;
                    &:hover::before {
                      color: $green;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // =============================================================================
  // POSTS LIST SECTION
  // =============================================================================
  .posts-list {
    margin-top: 30px;
    .post-item {
      overflow: hidden;
      padding-bottom: 30px;
      padding-top: 30px;
      border-bottom: 1px solid $grey-light;
      .post-item-author {
        float: left;
        width: 60px;
        img {
          width: 40px; height: 40px;
          border-radius: 2px;
          border: 1px solid darken($light, 5%);
        }
      }
      .post-item-content {
        float: left;
        width: calc(100% - 60px);
        .post-item-heading {
          padding-top: 11px;
          padding-bottom: 10px;
          .post-item-title {
            display: inline-block;
            margin: 0;
            padding: 0 15px 10px 0;
            border-bottom: 1px solid $grey-light;
            color: darken($grey, 20%);
            font-size: 13px;
            font-weight: 600;
          }
        }
        .post-item-data {
          font-size: 11px;
          font-weight: 400;
          color: darken($grey, 10%);
        }
        .post-item-description {
          color: lighten($dark, 30%);
          font-size: 13px;
        }
        .post-item-image {
          margin-top: 10px;
          max-width: 100%;
          max-height: 150px;
        }
        .post-item-footer {
          margin: 15px 0;
          padding: 0;
          list-style: none;
          li {
            display: inline-block;
            margin-right: 5px;
            a {
              padding: 2px 5px;
              &.edit {
                color: $grey;
                &:hover {
                  color: $green;
                }
              }
              &.share {
                color: $red;
                &:hover {
                  color: $dark;
                }
              }
              &.delete {
                color: $grey;
                &:hover {
                  color: $red;
                }
              }
              span.count {
                font-size: 11px;
                color: $grey;
              }
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .comments {
          position: relative;
          padding: 10px;
          border-radius: 2px;
          background-color: darken($light, 3%);
          &::before {
            position: absolute;
            top: -6px; left: 20px;
            content: '';
            width: 0; height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid darken($light, 3%);
          }
          .add-comment {
            .form-group {
              margin: 0;
              .form-control {
                height: 34px;
                padding-top: 7px;
                padding-bottom: 7px;
                background-color: $light;
                border-radius: 2px;
                border-color: darken($light, 10%);
                box-shadow: none;
                resize: none;
                font-size: 12px;
                &:focus {
                  background-color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}
