<section class="intro">
    <div class="intro-mask">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="intro-title">
                        Wydarzenia i ogłoszenia z Twojego miasta i całego kraju!<br/>
                        <small class="font-weight-300">
                            Dołącz do nas i ciesz się aktualnymi ogłoszeniami!
                        </small>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-mockup-browser">
                        <img src="/assets/img/mockup-browser.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-5 hidden-sm hidden-xs">
                <img src="/assets/img/mockup.png" alt="" class="img-responsive">
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-12">
                <h2 class="mobile-title">
                    Pobierz aplikacje <strong class="font-weight-600">spotted</strong> na swój telefon!<br/>
                    <small class="font-weight-300">
                        Miej dostęp do ogłoszeń z każdego miejsca na ziemi!
                    </small>
                </h2>
                <p class="mobile-description">
                    Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                    Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem
                    próbnej książki.
                </p>
                <div class="mobile-buttons margin-top-50">
                    <a href="#" class="btn btn-md btn-default btn-apps btn-apple">
                        <small>Pobierz przez</small><br/>
                        App Store
                    </a>
                    <a href="#" class="btn btn-md btn-default btn-apps btn-google">
                        <small>Pobierz przez</small><br/>
                        Google Play
                    </a>
                    <a href="#" class="btn btn-md btn-default btn-apps btn-windows">
                        <small>Pobierz przez</small><br/>
                        Windows Store
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
