.navbar {
  &.navbar-default {
    &.navbar-app {
      position: fixed;
      top: 0; left: 0; right: 0;
      width: 100%;
      min-height: 60px;
      background-color: $white;
      box-shadow: 0 0 3px rgba(0,0,0,0.3);
      .navbar-header {
        .navbar-brand {
          height: 60px;
          padding-top: 12.5px;
          padding-bottom: 12.5px;
        }
      }
      .nav.navbar-nav {
        margin-top: 14px;
        margin-bottom: 14px;
      }
    }
    min-height: 80px;
    margin-bottom: 0;
    background: transparent;
    border: 0 none;
    .navbar-header {
      .navbar-brand {
        height: 80px;
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        img {
          height: 35px;
        }
      }
    }
    .nav.navbar-nav {
      margin-top: 24px;
      margin-bottom: 24px;
      > li {
        &.navbar-nav-auth {
          margin-left: 20px;
          > a {
            padding: 5px 15px;
            border: 1px solid transparent;
            border-radius: 3px;
            transition: all 0.2s ease;
            &.navbar-nav- {
              &signin {
                color: $grey;
                border-color: $grey;
                &:hover {
                  border-color: $white;
                  color: $white;
                }
              }
              &signup {
                border-color: $green;
                background-color: $green;
                color: $white;
                &:hover {
                  border-color: $green-light;
                  background-color: $green-light;
                }
              }
            }
          }
        }
        &.navbar-nav-user {
          > a {
            padding: 5px 15px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    &.navbar-default {
      .navbar-header {
        float: left;
        width: auto;
      }
      .nav.navbar-nav {
        &.navbar-user {
          float: right;
          width: auto;
          margin-right: 0;
          li {
            display: inline-block;
          }
        }
      }
    }
  }
}
