.btn {
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  border: 0 none;
  border-radius: 25px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.2s ease;
  &:focus {
    outline: none!important;
    box-shadow: none!important;
  }
  &.btn- {
    &xs {
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 13px;
    }
    &sm {
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 13px;
    }
    &md {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 14px;
    }
    &lg {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 15px;
    }
  }
  &.btn- {
    &primary {
      background-color: $red;
      &:hover {
        background-color: $red-light;
      }
    }
    &success {
      background-color: $green;
      &:hover {
        background-color: $green-light;
      }
    }
    &info {
      background-color: $blue;
      &:hover {
        background-color: $blue-light;
      }
      &.btn-outline {
        background-color: $white;
        border: 2px solid $blue;
        color: $blue;
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}
