form {
  .alert {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -20px;
  }
  .form-group {
    .form-control {
      border-color: darken($light, 10%);
      border-radius: 25px;
      box-shadow: none;
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
        border-color: $dark;
      }
      &:focus {
        border-color: $blue;
      }
      &.input-md {
        font-size: 13px;
      }
    }
    .radio {
      label {
        padding: 0;
        margin-right: 20px;
        color: lighten($dark, 30%);
        font-weight: 600;
        &::before {
          margin-right: 10px;
          font: normal normal normal 16px/1 FontAwesome;
          content: '\f10c';
          color: lighten($dark, 30%);
        }
      }
      input[type="radio"] {
        display: none;
        &:checked + label {
          &::before {
            content: '\f192';
          }
        }
      }
    }
  }
  hr {
    margin: 20px -20px;
  }
  p {
    color: $grey;
  }
}
