.navbar {
  &.navbar-default {
    &.navbar-fixed-top {
      position: absolute;
    }
    min-height: 70px;
    margin-bottom: 0;
    background: rgba(255,255,255,0.8);
    border: 0 none;
    .navbar-header {
      .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
        height: 70px;
      }
    }
    .navbar-nav {
      > li {
        margin-top: 15px;
        margin-bottom: 15px;
        > a {
          padding: 10px 20px;
          font-weight: 600;
          font-size: 12px;
          color: $dark;
          text-transform: uppercase;
          transition: color 0.2s ease;
          &::after {
            position: absolute;
            content: '';
            left: 20px; bottom: 0;
            width: 0; height: 2px;
            background-color: $red;
            transition: width 0.2s ease;
          }
          &:hover {
            color: $red;
            &::after {
              width: 45px;
            }
          }
        }
      }
    }
    .navbar-user {
      float: right;
      list-style: none;
      margin-top: 17.5px;
      margin-bottom: 17.5px;
      > li {
        display: inline-block;
        &.dropdown.user-menu {
          &.open {
            a {
              background-color: $blue;
              color: $white;
              &:hover {
                border-color: $blue;
                background-color: $blue;
              }
            }
          }
          a {
            padding-left: 11px;
            padding-right: 11px;
          }
          ul.dropdown-menu {
            top: calc(100% + 10px);
            right: -18px;
            min-width: 140px;
            padding: 10px 0;
            box-shadow: 0 12px 32px rgba(0,0,0,.1);
            border-radius: 10px;
            &::before, &::after {
              position: absolute;
              content: '';
              bottom: 100%; left: 100%;
              margin-left: 20px;
              width: 0; height: 0;
              border: solid transparent;
              pointer-events: none;
            }
            &::before {
              border-color: rgba(222, 222, 222, 0);
              border-bottom-color: $grey-light;
              border-width: 9px;
              margin-left: -44px;
            }
            &::after {
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: $white;
              border-width: 8px;
              margin-left: -43px;
            }
            li {
              a {
                background: transparent;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                color: $dark;
                padding: 6px 20px;
                transition: none;
                &:hover {
                  background-color: $blue;
                  background-image: linear-gradient($blue-light, $blue);
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 767px) {
  .navbar {
    &.navbar-default {
      .navbar-header {
        float: left;
        width: auto;
      }
      .navbar-nav {
        float: left;
        margin: 0;
        &.navbar-right {
          float: right;
        }
        > li {
          display: inline-block;
        }
      }
    }
  }
}
