<div class="post-item" data-ng-repeat="post in posts">
    <div class="post-item-author">
        <img class="post-item-author-picture" src="{{ post.author.picture }}" alt="">
    </div>
    <div class="post-item-data">
        <div class="post-item-heading">
            <h3 class="post-item-title">
                <a class="post-item-group" href="#">{{ post.group.name }}</a>,
                <span class="post-item-created" am-time-ago="post.created"></span>
            </h3>
        </div>
        <div class="post-item-content">
            <p class="post-item-message">
                {{ post.message }}
            </p>
            <img data-ng-if="post.picture" class="post-item-picture" src="{{ post.picture }}" alt="">
        </div>
        <div class="post-item-footer">
            <ul class="post-item-list">
                <li data-uib-tooltip="Pokaż komentarze" data-tooltip-placement="top">
                    <a role="button" data-ng-click="commentsIsCollapsed = !commentsIsCollapsed">
                        <i class="fa fa-comments"></i>
                        <small>Komentarze</small>
                    </a>
                </li>
            </ul>
            <div class="post-item-comments"
                 data-uib-collapse="!commentsIsCollapsed"
                 data-ng-controller="commentsPostsController"
                 data-expanded="getComments(post._id)"
                 data-ng-include="'app/modules/posts/client/views/comments/comments.client.view.html'">
            </div>
        </div>
    </div>
</div>
