@-ms-viewport {
  width: 100%; height: auto;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}

html, body {
  width: 100%;
}

body {
  padding-top: 60px;
  background-color: $light;
  color: $dark;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.site-header, .site-content {
  width: 100%;
}

a {
  color: $blue;
  transition: color 0.2s ease;
  &:focus,
  &:hover {
    color: $dark;
    outline: none;
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;
}
