// =============================================================================
// COLOR SCHEMA
// =============================================================================
$white: #ffffff;
$black: #000000;

$dark: #221f1f;
$light: #f1f1f1;

$blue: #42a5f5;
$green: #33ae4a;


$red-1: #f44336;
$red-2: #e53935;
