// =============================================================================
// COLOR SCHEMA
// =============================================================================
$white: #ffffff;
$black: #000000;

$dark: #221f1f;
$light: #f5f5f5;

$grey: #bdbdbd;
$grey-light: #e0e0e0;

$blue: #42a5f5;
$blue-light: lighten($blue, 10%);

$green: #33ae4a;
$green-light: lighten($green, 10%);

$red: #e53935;
$red-light: lighten($red, 10%);
