<header class="margin-bottom-30">
    <a data-ng-href="/" class="font-size-12 font-weight-600">
        <i class="fa fa-arrow-circle-left margin-right-5"></i>wróć do strony głównej
    </a>
    <h2 class="font-weight-300 margin-top-20">
        Logowanie
    </h2>
</header>
<form role="form" name="signinForm" class="form form-auth" data-ng-submit="signIn(data)" novalidate>
    <div class="form-group" data-ng-class="{ 'has-error' : signinForm.email.$invalid && !signinForm.email.$pristine }">
        <input type="email" name="email" id="email" class="form-control input-md" data-ng-model="data.email" placeholder="Adres e-mail" required>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : signinForm.password.$invalid && !signinForm.password.$pristine }">
        <input type="password" name="password" id="password" class="form-control input-md" data-ng-model="data.password" placeholder="Hasło" required>
    </div>
    <button type="submit" class="btn btn-md btn-success" data-ng-disabled="signinForm.$invalid">
        Zaloguj się do konta
    </button>
</form>
<footer class="margin-top-30">
    <p class="font-size-12 font-color-grey">
        Nie masz konta?
        <a href="/signup" class="font-weight-600 font-color-red">
            Dołącz do nas!
        </a>
    </p>
    <hr>
    <p class="font-color-grey font-size-12">
        Korzystając z serwisu, akceptujesz nasz <a href="#">Regulamin</a> oraz potwierdzasz zapoznanie się z <a
            href="#">Zasadami dotyczącymi danych</a> , w tym z <a href="#">Zasadami stosowania plików cookie</a>.
    </p>
</footer>
