<section class="posts" data-ng-controller="postsController">
    <section class="post-create"
             data-ng-if="$root.user"
             data-ng-controller="createPostsController"
             data-ng-include="'app/modules/posts/client/views/posts/_partials/create.client.view.html'">
    </section>
    <section class="posts-list"
             data-ng-init="getPosts()"
             data-ng-include="'app/modules/posts/client/views/posts/_partials/list.client.view.html'">
    </section>
</section>
