<section class="groups">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <section class="group-list">
                    <div class="group-item" data-ng-repeat="group in userGroups">
                        <div class="group-item-picture">
                            <img src="/assets/img/groups/placeholder.png" alt="">
                        </div>
                        <div class="group-item-data">
                            <h3 class="group-item-data-title font-weight-600">
                                {{ group.id.name }},
                                <small>
                                    {{group.id.province}}
                                </small>
                            </h3>
                            <p class="group-item-data-posts">
                                1999 postów
                            </p>
                        </div>
                        <div class="group-item-join">
                            <a role="button" class="btn btn-sm btn-warning" uib-tooltip="Dołącz do grupy!" data-tooltip-placement="left" data-ng-click="joinToGroup(group._id)">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
</section>

