<section class="site-auth" data-ng-controller="loginController">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <form role="form" class="form-auth">
                    <h2 class="font-weight-300 margin-top-0 margin-bottom-30 text-center">
                        Zaloguj się do swojego konta :)
                    </h2>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 hidden-xs">
                                <label for="email">Adres e-mail:</label>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <input type="email" data-ng-model="user.email" class="form-control input-md" id="email" placeholder="Adres e-mail">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 hidden-xs">
                                <label for="password">Hasło:</label>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <input type="password" data-ng-model="user.password" class="form-control input-md" id="password" placeholder="Hasło">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4 col-xs-12">
                            <hr class="margin-top-0 margin-bottom-20">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4 col-xs-12">
                            <button type="submit" data-ng-click="login()" class="btn btn-md btn-success">
                                Zaloguj się do konta!
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4 col-xs-12">
                            <p class="margin-top-20">
                                <small>
                                    Korzystając z serwisu, akceptujesz nasz <a href="#">Regulamin</a> oraz potwierdzasz zapoznanie się z
                                    <a href="#">Zasadami dotyczącymi danych</a>, w tym z <a href="#">Zasadami stosowania plików cookie</a>.
                                </small>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

